<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mike's Movies</title>
	<link rel="icon" type="image/png" href="data:image/png;base64,{{ base64filedump('assets/img/favicon.png') }}" />
	<style>{{ include('assets/css/styles.css.twig') }}</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="col-md-12">
					<span id="title">
						<h1>Mike's Movie Collection</h1>
					</span>
					<span id="subtitle">
						<h3>{{ movies|length }} Movies from {{ countries|length }} countries in {{ languages|length }} languages.</h3>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ include('filters.html.twig') }}
				</div>
			</div>
		</div>

        {{ include('movies.html.twig') }}
		
	</div>
	<script>{{ include('assets/js/scripts.js.twig') }}</script>
</body>
</html>