{% for movie in movies %}
	<div class="row movie" id="{{ movie.id }}">
		<div class="col-md-3">
			<div class="poster">
				<a class="fancybox" href="http://imdb.com/title/{{ movie.id }}">
					<img class="img-rounded" src="data:image/jpg;base64,{{ posters[movie.id] }}" />
				</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="full-title">
				<span class="title pull-left">
					<a class="fancybox" href="http://imdb.com/title/{{ movie.id }}">
						{{ movie.title }}
					</a>
				</span>
				<span class="year pull-right">
				{{ movie.year }}
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 info">
				<p class="lead">
				{{ movie.tagline }}
				</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>Rating:</td>
							<td class="rating">
								{{ movie.imdbRating }}
								{#<small>(TMDb: {{ movie.voteAverage }})</small>#}
							</td>
						</tr>
						<tr>
							<td>Genre:</td>
							<td class="genre">
								{{ movie.genres|join(', ') }}
							</td>
						</tr>
						<tr>
							<td>Length:</td>
							<td class="length">
								{{ movie.runtime }} min
							</td>
						</tr>
						<tr>
							<td>Directors:</td>
							<td class="directors">
								{% if movie.directors is not empty %}
									{{ movie.directors|join(', ') }}
								{% else %}
								    -
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Countries:</td>
							<td class="countries">
								{% if movie.productionCountries is not empty %}
									{{ movie.productionCountries|join(', ') }}
								{% else %}
								    -
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Languages:</td>
							<td class="countries">
								{% if movie.spokenLanguages is not empty %}
									{{ movie.spokenLanguages|join(', ') }}
								{% else %}
								    -
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h4>Plot</h4>
				<div class="plot">
					{{ movie.overview }}
				</div>
					<br>
				<h4>Cast</h4>
				<div class="cast">
					{% for id, castMember in movie.cast %}
					    {{ castMember }}
						<small>
							({{ movie.character[id] }})
						</small>
					    {% if not loop.last %},{% endif %}
					{% endfor %}
					...
				</div>
			</div>
		</div>
	</div>
{% endfor %}
